body{
	margin: 0;
	padding: 0;
	background-image:url("image1.jpg"); 
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center; 
    background-size: 100% 100%;
}